body {
  font-family: 'Open sans';
  background-color:#FFF2D7;
  
  color: black;
  
}

/* Contact Details Section Home Page*/
.contact-details {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5% 5%;
  justify-content: center;
}

.contact-details-inside {
  padding-top: 40px;
  width: 430px;
  height: 300px;
  text-align: center;
  border-radius: 30px;
  justify-content: center;
}

.img {
  width: 250px;
  height: 260px;
  text-align: center;
  padding-top: 70px;
 
}
.important-info {
  line-height: 1.8;
  justify-content: center;
  text-align: center;
}



/* Services Section */
.services-header {
  display: grid;
  justify-content: center;
  padding-bottom: 1%;
  /* background-color:#8188A8 ; */
  color: black;
  font-size: 40px;
  /* border: 2px solid #8188A8; */
  /* text-decoration: underline   blue; */

}

.about-me-header {
  display: grid;
  justify-content: center;
  padding-bottom: 1%;
  color: black;
  font-size: 40px;
}

.about-me {
  display: grid;
  justify-content: center;
  text-align: center;
 padding-left: 25%;
 padding-right: 25%;
}

.about-me p {
  text-align: center;
}

.read-more-supervision {
  margin-top: 20px; /* Adjust as needed */
}



hr {
  margin: 2em auto; /* centred margin */
  height: 2px; /* thickness of the line */
  background-color: #8188A8; /* colour of the line */
  border: none; /* no border */
  width: 75%;
}
.services {
 
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 3%;
  grid-row-gap: 2%;
  justify-content: center;
  /* padding-bottom: 100px; */
 

 
}

 .supervision,
.counseling {
  width: 400px;
  height: 300px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  /* background-color: #d4c2ad; */
  /* border: 5px solid #66796B; */

}
p.supervision-text{
  text-align: center;
}

/* Navigation Styles */
nav {
  background-color: #F98866;
  padding: 30px;
  margin: 0;
  border-radius: 10px;
  /* border: 2px solid #BFB3A4; */


}

/* ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  
} */

.about-me-list {
  list-style-type: circle;
 
}

.nav-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}


.home {
  margin-right: auto;
}


a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

a:hover {
  color: #ddd;
}

.important-info {
  line-height: 1.8;
}

.phone-nav{
  display: none;
  width: 100%;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #89CFF0;
  position: relative;
  border-radius: 10px;
 
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav .links {
  display: none;
}

.topnav.responsive .links {
  display: block;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #8188A8;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color:#8188A8;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #8188A8;
  color: black;
}



/* button */
button {
  width: 150px;
  height: 70px;
  background-color: #F98866;
  border-radius: 10px;
  border: 0;
  transition-duration: 0.4s;
  cursor: pointer; /* Change cursor to pointer */
  font-family: 'Open sans';
  color: black;
  
}

button:hover {
  background-color: #F2EDDC; /* Change background color on hover */
}

.read-more-supervision{
margin-top: 22px;
}




/* conatct me */
input[type=text],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border:1px solid  #8188A8;
  /* background-color: #F2EDDC; */
  font-family: 'Open sans';
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Add a background color and some padding around the form */
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* background-color:  #F2EDDC; */

  border-width: 10px;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
}







/* supervision */
.supervision-detail, .counselling-detail{
  display: grid;
  padding: 2% 2%;
  grid-column-gap: 5%;
  justify-content: center;
  
}

.faq{
  display: grid;
  padding: 2% 2%;
  grid-column-gap: 5%;
 
}

.supervision-details-inside, .counselling-details-inside, .faq-inside{
 padding: 30px;
  border-radius: 30px;
  /* border: 5px solid #66796B; */
  justify-content: center; 
  width: auto;
  height: auto;
  
}



.supervision-list{
  list-style-type:disc;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column
  
}


/* faq */

.hover-area {
	text-align:flex-end;
  cursor: pointer; 
}
.reveal {
	background: #d4c2ad;
	display: none;
	border-radius: 15px;
  border: 5px solid #4e5d4b;
  padding: 25px;
}
.question {
	color: black;
	-webkit-transition: all 300ms;

}

p {
  text-align: left;
}






/* Media Queries */
@media only screen and (max-width: 920px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-details {
    grid-template-columns: auto;
    justify-content: center;
  }
  .contact-details-inside {
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
  }

  .services {
    grid-template-columns: auto;
    justify-content: center;
    width: auto;
    
  }

  .supervision,
  .counseling {
    justify-content: center;
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
    width: auto;
    padding: 2%;
    max-width: 700px;
  }

  .supervision-text{
    justify-content: center;
    text-align: center;
  }

  .img {
    width: 250px;
    height: 260px;
    text-align: center;
    padding-top: 70px;
    padding-left: 50px;
}



  .supervision-details-inside {
    grid-template-columns: auto;
    justify-content: center;
    width: auto;
    height: auto;
    
  }


}
@media only screen and (max-width: 768px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-details {
    grid-template-columns: auto;
    justify-content: center;

  }
  .contact-details-inside {
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
  }

  .services {
    grid-template-columns: auto;
    justify-content: center;
    width: auto;
    
  }

  .supervision,
  .counseling {
    justify-content: center;
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
    width: auto;
    padding: 2%;
    max-width: 700px;
    padding-bottom: 30px;
  }

  .supervision-text{
    justify-content: center;
    text-align: center;
  }

  .img {
    width: 250px;
    height: 260px;
    /* justify-content: inline; */
    padding-left: 40px;
   
}
  .supervision-details-inside {
    grid-template-columns: auto;
    justify-content: center;
    width: auto;
    height: auto;
    
  }
  /* .nav-wrapper{
    display: none;
  } */

}


@media only screen and (max-width: 450px) {

 
  .contact-me-p{
    display: inline-block;
    white-space: nowrap;
  }

  .phone-nav {
    display: block; /* or inline-block or any other display value you want */
  }
  
  .nav-wrapper{
    display: none;
  }
  .supervision-details-inside {
    grid-template-columns: auto;
    justify-content: center;
    width: auto;
    height: auto;
    
  }

  
}



